body{
	margin: 0;
	padding: 0;
}

.popap{
	position:fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.9);
	z-index: 500;
}

.popap .buttons{
	padding: 10px 0;
}


.map{
	white-space: nowrap;
}

.node{
	position: relative;
	padding: 5px;
	border-left: 2px solid #000;
}

.node:not(.root):before{
	padding:0;
	margin:0;
	display:block;
	content: "";
	height:2.1px;
	width:10px;
	background-color:#000;
	position: absolute;
	left:0;
	top:50%;
}

.node.selected > .nodeView{
	box-shadow: 0 0 10px rgba(0,0,0,0.9);
}

.node:after{
	content:"";
	display:inline-block;
	height:100%;
	width:5px;
	overflow:hidden;
	vertical-align:middle;
}

.node:last-child{
	margin-bottom: 0px
}

.node > *{
	display:inline-block;
	vertical-align:middle; 
}

.nodeView{
	margin: 0 5px;
	border: 1px solid black;
	padding:5px;
	border-radius: 5px;
	cursor: pointer;
	position:relative;
}

.nodeView select{
	top: 0;
    position: absolute;
    right: -19px;
    width: 18px;
    height: 29px;
    z-index: 100;
}


.childs{
	position: relative;
}

.childs:not(:empty):before{
	padding:0;
	margin:0;
	display:block;
	content: "";
	height:2.1px;
	width:5px;
	background-color:#000;
	position: absolute;
	left:-5px;
	top:50%;
}

.childs>:first-child,
.childs>:last-child {
	border-left: none;
}

.childs>:first-child:not(:last-child):after {
	padding:0;
	margin:0;
	display:block;
	content: "";
	height:50%;
	width:2.1px;
	background-color:#000;
	position: absolute;
	left:0;
	bottom:0px;
}

.childs>:last-child:not(:first-child):after {
	padding:0;
	margin:0;
	display:block;
	content: "";
	height:50%;
	width:2.1px;
	background-color:#000;
	position: absolute;
	left:0;
	top:0px;
}

/* right tree 
.right
*/

/* left tree */

.left{
	transform: scaleX(-1);
}

.left .nodeView{
	transform: scaleX(-1);
}
